<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <%= link_to 'BLOG', posts_path %>
                    </li>

                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to 'ABOUT', about_path %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                
                <li class="dropup">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'COUNSELING', counseling_path %></li>
                    <li><%= link_to 'WEDDINGS', weddings_path %></li>
                    <li><%= link_to 'SEMINARS', seminars_path %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to 'BUY BOOK!', book_path %></a></li>
                  </ul>
                </li>
                    <li class="footer-menu-divider">&sdot;</li>
                        <li><%= link_to 'CONTACT', new_contact_path %></li>
                    <li class="footer-menu-divider">&sdot;</li>
                        <li>17315 Studebaker Road, SUITE 130, CERRITOS, CA 90703</li>
                    <li class="footer-menu-divider">&sdot;</li>
                        <li>(562) 865-4075</li>
                    <li class="footer-menu-divider">&sdot;</li>
                        <li>cara@sprintmail.com</li>
                </ul>
                <p class="copyright text-muted small">&copy; Charles Ara 2016</p>
            </div>
        </div>
    </div>
</footer>