<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Weddings
                <small>Your perfect day</small>
            </h1>
        </div>
    </div>
    
    <!-- content and image here -->
	<div class="row content-wrapper lead">
	
        <div id="services_image"> 
          <%= image_tag 'weddings.jpg' %>
        </div>
            <p>Cake cake halvah topping powder jelly-o liquorice donut sweet. Tart chocolate cake brownie tiramisu danish powder cake. Tootsie roll donut candy canes liquorice chocolate bar. Apple pie pastry brownie marshmallow topping sesame snaps brownie bear claw croissant. Jujubes tiramisu bear claw tart cookie macaroon lemon drops caramels jelly-o. Gummies cotton candy pudding chocolate bar. Brownie bonbon sugar plum pudding halvah. Marshmallow cotton candy lemon drops pudding tiramisu tootsie roll cheesecake. Icing lollipop caramels sweet roll soufflé candy jujubes. Topping gummi bears caramels cotton candy sweet halvah macaroon. Wafer biscuit jelly beans wafer chupa chups gummies. Brownie jelly-o soufflé caramels icing. Topping gingerbread chocolate bar pie tootsie roll.</p>

            <p>Gummi bears icing jujubes tiramisu chocolate oat cake oat cake topping danish. Tart liquorice brownie danish tart dessert macaroon sweet gingerbread. Marzipan cake gingerbread marzipan chocolate cake halvah. Fruitcake cupcake muffin soufflé cotton candy cheesecake croissant. Sugar plum toffee apple pie jelly beans cake topping sweet roll jujubes topping. Brownie chocolate cake chocolate cake jujubes icing. Gummi bears cheesecake cake. Jelly pudding cupcake. Biscuit danish dessert cupcake lemon drops chocolate marshmallow dessert cake. Gingerbread jelly-o sweet fruitcake oat cake halvah pastry cake. Donut chocolate cake lemon drops cake lemon drops liquorice jujubes. Jelly gummies fruitcake chocolate cake marshmallow jelly-o jujubes.</p>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'father_ara_couple.jpg' %> 
            </div>
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'father_ara_couple_2.jpg' %>
            </div>
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'Rana_Moxie_Wedding.jpg' %>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <div class="row">
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'Martin_Megan_Wedding.jpg' %> 
            </div>
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'matt_hester_wedding.jpg' %>
            </div>
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'matt_hester_family.jpg' %>
            </div>
        </div>
        <!-- /.row -->   
        <hr>     

</div>