<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Weddings
                <small>Your perfect day</small>
            </h1>
        </div>
    </div>
    
    <!-- content and image here -->
	<div class="row content-wrapper lead">
	
        <div id="services_image"> 
          <%= image_tag 'weddings.jpg' %>
        </div>
            <p>Father Charles Ara is a married Catholic Priest. He was a parish priest for 15 years and then added love and marriage to his priesthood.</p>
 
            <p><b>Over the years, he has prepared over 10,000 couples for marriage.</b></p>
 
            <p>Father Charles is available to preside over wedding ceremonies for Catholics who for one reason or another cannot or are not going to be married at their parish church.</p>
             
            <p>He  also preside over non-denominational wedding ceremonies. In addition, he frequently join with a Jewish Rabbi or a minister of another religion when there is an inter-faith marriage.</p>
             
            <p>Father Charles also is very flexible in adapting the wedding ceremony to the needs and wishes of the couple.</p>
        </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Wedding Photos
            </h1>
        </div>
    </div>

        <div class="row">
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'father_ara_couple.jpg' %> 
            </div>
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'father_ara_couple_2.jpg' %>
            </div>
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'Rana_Moxie_Wedding.jpg' %>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <div class="row">
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'Martin_Megan_Wedding.jpg' %> 
            </div>
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'matt_hester_wedding.jpg' %>
            </div>
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" <%= image_tag 'matt_hester_family.jpg' %>
            </div>
        </div>
        <!-- /.row -->   
        <hr>     

</div>