<!-- Fix padding. should be 50px of padding to make sure the navbar doesn't overlap content!  -->
<p id="notice"><%= notice %></p>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Charlie's Thoughts
              <small>a.k.a words of wisdom</small>
          </h1>
      </div>
  </div>
  <!-- /.row -->

  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>

          <!-- Blog Entries Column -->
        <div class="col-md-5">
            <img class="img-responsive" <%= link_to (image_tag post.image.url(:medium)), post %>
            </img>
        </div>

        <!-- First Blog Post -->
        <div class="col-md-7">        
          <h2 class="title"><%= link_to post.title, post %></h2>
          <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>       
          <p class="lead"><%=h truncate(post.body, :length => 250, :separator => ' ') %></p>
          <p><%= link_to 'Read More', post %></p>
        </div>
    </div>
        <hr>
      <% end %>
  </div>
    
  <div class="row">
      <!-- will_paginate -->
    <div class="paginate text-center">  
      <%= will_paginate @posts %>
    </div>
  </div>

<!-- /.container -->

</div>








